<head>
    {% if site.googleAnalytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130252004-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-130252004-1');
    </script>
    {% endif %}

    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="{{site.decription}}" name="description">
    <meta content="Johnny Xavier" name="author">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="{{site.title}}" name="apple-mobile-web-app-title">
    <meta content="{{site.title}}" name="application-name">
    <meta content="{{site.title}}" name="msapplication-tooltip">
    <meta content="{{site.url}}" name="msapplication-starturl">
    <meta content="{{site.url}}/public/favicon.jpg" name="msapplication-TileImage">
    <meta content="website" property="og:type">
    <meta content="{{site.url}}" property="og:url">
    <meta content="{{site.title}}" property="og:site_name">
    <meta content="{{site.title}}" property="og:title">
    <meta content="{{site.title}} - {{site.description}}" property="og:description">
    <meta content="{{site.url}}/public/favicon.jpg" property="og:image">
    <meta content="summary" name="twitter:card">
    <meta content="{site.title}}" name="twitter:title">
    <meta content="{{site.description}}" name="twitter:description">
    <meta content="{{site.url}}/public/favicon.jpg" name="twitter:image">

    <!-- Enable responsiveness on mobile devices-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }}/{{ site.tagline }}
        {% else %}
        {{ page.title }}@{{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link href="{{ site.baseurl }}/public/css/syntaxHighlight.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/public/css/blackdoc.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

    <!-- Icons -->
    <link href="{{ site.baseurl }}/public/favicon.ico" rel="shortcut icon">

    <!-- RSS -->
    <link href="/atom.xml" rel="alternate" title="RSS" type="application/rss+xml">
</head>
