<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="/">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
            {% if node.layout == "page" and node.title != null and node.title != '/About' and node.title != 'License' %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
               href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
        <div class="sidebar-footer">
            <hr>
            {% if site.about != null %}
            <a class="sidebar-about" href="{{ site.about }}">About Me</a>
            <hr>
            {% endif %}
            <p>Open Sourced under<br>
                <a class="sidebar-nav-item" href="{{ site.license }}">the MIT license</a>
            </p>
        </div>
    </div>
</div>
